<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<h1>Log in</h1>
<form onclick="checkUser()">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit">Submit</button>
</form>
<script src="../static/js/index.js"></script>
</body>
</html>