<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear trabajador</title>
</head>
<body>

<form th:action="@{/trabajador/create}" th:object="${trabajador}" method="post">
    <label for="nombre">Nombre:></label>
    <input id="nombre" type="text" th:field="*{nombre}"/>
    <label for="edad">Edad:></label>
    <input id="edad" type="text" th:field="*{edad}"/>
    <br>
    <label for="equipo">Equipo:></label>
    <select id="equipo" name="equipo" th:field="*{equipo.nombre}">
        <option th:each="equipo : ${equipos}" th:value="${equipo.equipo_id}" th:text="${equipo.nombre}"></option>
    </select>
    <br>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>

</body>
</html>