<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Tarea</title>
</head>
<body>
<h1>Crear Tarea</h1>
<form th:action="@{/tarea/create}" th:object="${tarea}" method="post">
    <label for="nombre">Nombre:></label>
    <input id="nombre" type="text" th:field="*{nombre}"/>
    <label for="descripcion">Descripcion:></label>
    <input id="descripcion" type="text" th:field="*{descripcion}"/>
    <label for="tipo">Tipo:></label>
    <select id="tipo" name="tipo" th:field="*{tipo}">
        <option value="mejora">Mejora</option>
        <option value="bug">Bug</option>
        <option value="refactorización">Refactorización</option>
    </select>
    <label for="estado">Estado:></label>
    <select id="estado" name="estado" th:field="*{estado}">
        <option value="abierta">abierta</option>
        <option value="en progreso">En progreso</option>
        <option value="cerrada">Cerrada</option>
    </select>
    <label for="fechaDeApertura">FechaDeApertura:></label>
    <input id="fechaDeApertura" type="date" th:field="*{fechaApertura}"/>
    <label for="fechaDeCierre">FechaDeCierre:></label>
    <input id="fechaDeCierre" type="date" th:field="*{fechaCierre}"/>
    <label for="trabajador">Trabajador:></label>
    <select id="trabajador" name="trabajador" th:field="*{trabajador.nombre}">
        <option th:each="trabajador : ${trabajadores}" th:value="${trabajador}" th:text="${trabajador.nombre}"></option>
    </select>
    <br>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>