<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit trabajador</title>
</head>
<body>
<h1>Edit trabajador</h1>
<form th:action="@{/trabajador/edit/{id}(id=${trabajador.id})}" th:object="${trabajador}" method="post">
    <label for="nombre">Nombre:></label>
    <input id="nombre" type="text" th:field="*{trabajador.nombre}"/>
    <label for="edad">Edad:></label>
    <input id="edad" type="text" th:field="*{trabajador.edad}"/>
    <br>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>