<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipo</title>
</head>
<body>
<h1 th:text="${equipo.nombre}"></h1>
<button><a th:href="@{/trabajador/create}">Create Trabajador</a></button>
<table>
    <tr th:each="trabajador : ${equipo.trabajadores}">
        <td><a th:href="@{/trabajador/{id}(id=${trabajador.trabajador_id})}" th:text="${trabajador.nombre}"></a> <a th:href="@{/trabajador/edit/{id}(id=${trabajador.id})}">Editar</a> <a th:href="@{/trabajador/delete/{id}(id=${trabajador.id})}">Borrar</a></td>
    </tr>
</table>

</body>
</html>